/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
.nav_bar {display: none;}
.top_menu .btn-group{display: block; margin: 5px 20px 0 0;}
.mixing, .mastering {margin-top: 50px;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.head_title h1 {font-size: 60px;}
.head_title h2 {font-size: 22px; margin-bottom: 30px;}
.head_title a {font-size: 12px; font-weight: bold;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}